.content {
    grid-area: content;
    display: grid;
    grid-template-areas: 'about' 'service' 'works';
    grid-template-rows: repeat(3, 100vh);
    padding: 0 1em;
    &_center {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.about {
    grid-area: about;
}

.service {
    grid-area: service;
}

.works {
    grid-area: works;
}