*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Ansage' sans-serif;
    font-size: 16px;
    color: var(--black);
    background: var(--white);
}

body {
    margin: 0;
    padding: 0;
    ;
}