.grid {
    @include for-size (tablet-portrait-up) {
        display: grid;
        width: 100%;
        margin: 0 auto;
        &-2-col {
            @include for-size (tablet-landscape-up) {
                grid-template-columns: 1fr 1fr;
            }
            @include for-size (phone-only) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
            .col-1-2+.col-2-2 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        &-main {
            column-gap: .6em;
            grid-template-areas: 'sidebar content';
            @include for-size (tablet-portrait-up) {
                grid-template-columns: 4rem 1fr;
            }
            // grid-template-rows: 1fr auto;
            @include for-size (phone-only) {
                grid-template-areas: 'sidebar' 'content';
                grid-template-columns: 10em 1fr;
            }
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
}