.footer {
    background: var(--gray-50);
    grid-column-start: 1;
    grid-column-end: 3;
    display: sticky;
    bottom: 0;
    padding: 10px 15px;
    .footer-contaier {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .footer-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2em;
        }
    }
}