.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    @include for-size (tablet-portrait-up) {
        height: 100vh;
    }
    @include for-size (phone-only) {
        width: 100%;
        position: sticky;
        top: 3em;
    }
    .sidebar-container {
        @include for-size (tablet-portrait-up) {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include for-size (phone-only) {
            padding-left: 1em;
        }
        .sidebar-inner {
            @include for-size (tablet-portrait-up) {
                display: flex;
                transform: rotate(270deg);
            }
            .sidebar-nav {
                width: 15em;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: space-between;
                white-space: nowrap;
                .scroll-indicator {
                    overflow: hidden;
                    height: 2px;
                    width: 100%;
                    background-color: var(--gray-50);
                    .progress-bar {
                        background: var(--primary-300);
                        height: 2px;
                        width: 0%;
                    }
                }
            }
        }
    }
}

.indicator-names {
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    .off {
        display: none;
    }
    .active {
        display: block;
    }
}