.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    @include for-size (tablet-portrait-up) {
        height: 100vh;
    }
    @include for-size (phone-only) {
        width: 100%;
        position: sticky;
        top: 3em;
    }
    .sidebar-container {
        @include for-size (tablet-portrait-up) {
            @include font(var(--text-font), var(--medium), var(--text-sm), var(--gray-800), var(--body-line-height-md));
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include for-size (phone-only) {
            padding: 0 1em;
        }
        .sidebar-inner {
            @include for-size (tablet-portrait-up) {
                display: flex;
                transform: rotate(270deg);
            }
            .sidebar-nav {
                @include for-size (phone-only) {
                    width: 100%;
                }
                width: calc(100vh / 3);
                display: flex;
                flex-direction: row;
                gap: var(--rem);
                align-items: center;
                justify-content: space-between;
                white-space: nowrap;
                .scroll-indicator {
                    overflow: hidden;
                    height: 2px;
                    width: 100%;
                    background-color: var(--gray-50);
                    .progress-bar {
                        background: var(--black);
                        height: 2px;
                        width: 0%;
                    }
                }
            }
        }
    }
}

.indicator-names {
    @include font(var(--text-font), var(--medium), var(--text-md), inherit, var(--body-line-height-md));
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: none;
    }
    .active {
        display: block;
    }
}