.header {
    background: alpha(var(--gray-50), 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    .header_container {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}