.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    mix-blend-mode: exclusion;
    svg {
        display: block;
        width: 100%;
        fill: #fff;
    }
}

.navigation {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 20px
    }
}