.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    svg {
        display: block;
        width: 100%;
    }
}

.navigation {
    .main-nav {
        color: inherit;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 20px;
        .nav-link {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: .25em;
            @include font(var(--text-font), var(--regular), var(--text-md), inherit, var(--body-line-height-md));
        }
    }
    @include for-size (phone-only) {
        .menu-phone {
            display: block;
        }
        li {
            display: none;
        }
    }
    @include for-size (tablet-portrait-up) {
        .menu-phone {
            display: none;
        }
        li {
            display: block;
        }
    }
}